@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
body {
    font-family: $font-stack;
    margin: 0;
}
main {
    padding: 20px;
    section {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 5px;
        h2 {
            color: $primary-color;
        }
    }
}